<div id="about-text" >
	<div class="row heading-row" >
		<div class="mu-title">
			<center>
		  		<span class="mu-subtitle">Gallery</span>
		 	</center>
		</div>
	</div>
	<center>
		<!-- buttons row -->
		<div class="row">		
			<button class="btn btn-default gallery-btn" id="btn-all-images" ng-click="displayAllImages()"> All </button>
			<button class="btn btn-default gallery-btn" id="btn-food-images" ng-click="displayfoodImages()"> Food </button>
			<button class="btn btn-default gallery-btn" id="btn-restaurant-images" ng-click="displayRestaurantImages()"> Restaurant </button>
			<button class="btn btn-default gallery-btn" id="btn-dinner-images" ng-click="displayDinnerImages()"> Dinner </button>
			<button class="btn btn-default gallery-btn" id="btn-drinks-images" ng-click="displayDrinksImages()"> Drinks </button>
			<button class="btn btn-default gallery-btn" id="btn-dessert-images" ng-click="displayDessertImages()"> Dessert </button>		
		</div>
		<!-- append images -->
		<div class="row" id="gallery-images">

		</div>
	</center>
</div>
